#main{
padding: 85px;
}

.header{
    width: 100%;
    opacity: 0.8;
    background-color: #000;
    position: fixed;
    z-index: 100;
}

h2{
  font-weight: 900;
  text-transform: uppercase !important;
  font-size: 3rem;
}
header a,header a:link {
	color: #FFFF;
	text-decoration: none;
	text-size: 2em;
}

header li {
	vertical-align: inherit;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url('../img/fondo.jpg');
  background-size:100%;
  margin: 0px;
  text-align: center !important;
}

hr{
  height: 2px;
  width: 90%;
  background-color: #ef4035;
  color: #FFFF;
}

.footer {
  position: float;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000;
  color:#FFFF
}

.textoInicio {
  margin: auto;
  top: 5%;
  display: block;
  opacity: 0.8;
  position: float;
  background-color: #000;
  width: 38%;
  color:#FFFF
}

.textoInicioLeft {
  margin: auto;
  top: 25%;

  opacity: 0.8;
  position: float;
  background-color: #000;
  width: 100%;
  color:#FFFF
}

.textoInicioRight {
  margin: auto;
  top: 5%;
  display: block;
  opacity: 0.8;
  position: float;
  background-color: #000;
  width: 80%;
  color:#FFFF
}

.contenido{
	margin: auto;
    opacity: 0.8;
    background-color: #000;
    color:#FFFF;
	border-radius: 10px;
	text-align: center;
}




.ponentes {
  height:300px;
  width: 300px;
  margin:auto;
  border: 3px solid;
}

ion-icon {
  font-size: 64px;
  color: #000;
}
.redesIcons{
  font-size: 30px;
  color: #FFFF;
}
.footerIcon{
  font-size: 50px;
  color: #000;
}


.tituloPonente{
  opacity: 0.8;
  position: float;
  background-color: #000;
  color: #FFFF;
  width: 100%;


}

.redesSociales{
  opacity: 0.8;
  position: float;
  background-color: #000;
  color: #FFFF;
  width: 100%;
  height: 100%;
  padding-top: 4em;
  padding-bottom: 4em;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.menuLeft{
    float: left;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

.menuRight{
    float: right;
	text-align: center;
	vertical-align: middle;
	margin: auto;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.tinytext {
	font-size: 0.8em;
	font-style: italic;
}

#pills-tabContent article:hover{
  background-color: #ef4035;
}

.nav-pills a{
  color: #ef4035;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #ef4035;
}
